h3 {
    text-align: center;;
}

h3.linea {
    position: relative;
    z-index: 1;
}

h3.linea:before {
    border-top: 2px solid #ccafaf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

h3.linea span {
    background: #fff;
    padding: 0 15px;
}